<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Actualizar Stock</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="container">

<h2 class="mb-3">Actualizar Stock</h2>

<form class="row g-3" action="index.html">

<div class="col-md-6">
<label class="form-label">Producto</label>
<input type="text" class="form-control" value="Amoxicilina 500mg" readonly>
</div>

<div class="col-md-6">
<label class="form-label">Número de Lote</label>
<input type="text" class="form-control" value="L001">
</div>

<div class="col-md-6">
<label class="form-label">Cantidad Disponible</label>
<input type="number" class="form-control" value="120">
</div>

<div class="col-md-6">
<label class="form-label">Cantidad Mínima</label>
<input type="number" class="form-control" value="20">
</div>

<div class="col-md-6">
<label class="form-label">Fecha Vencimiento</label>
<input type="date" class="form-control" value="2026-01-10">
</div>

<div class="col-md-6">
<label class="form-label">Estado</label>
<select class="form-select">
<option selected>Disponible</option>
<option>Agotado</option>
<option>Vencido</option>
</select>
</div>

<div class="col-12">

<button class="btn btn-primary">
<i class="bi bi-save"></i> Guardar cambios
</button>

<a href="index.html" class="btn btn-secondary">
Cancelar
</a>

</div>

</form>

</div>

</body>
</html>