<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Inventario - Farmacia</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

</head>

<body>

<div class="container">

    <h2 class="mb-3">📦 Inventario</h2>

    <a href="registrar.html" class="btn btn-success mb-3">
    Registrar producto en inventario
    </a>
    
    <a href="productos_por_vencer.html" class="btn btn-warning mb-3">
    Productos próximos a vencer
    </a>
    
    <a href="../analitica/alertas.html" class="btn btn-danger mb-3">
    🔔 Ver alertas del sistema
    </a>
    
<div class="mb-3">
<input type="text" id="buscador" class="form-control" placeholder="Buscar producto...">
</div>

<table class="table table-striped" id="tablaInventario">

<thead>
<tr>
<th>Producto</th>
<th>Lote</th>
<th>Cantidad</th>
<th>Mínimo</th>
<th>Fecha Ingreso</th>
<th>Fecha Vencimiento</th>
<th>Estado</th>
<th></th>
</tr>
</thead>

<tbody>

<tr>
<td>Amoxicilina 500mg</td>
<td>L001</td>
<td>120</td>
<td>20</td>
<td>2025-01-10</td>
<td>2026-01-10</td>
<td><span class="badge bg-success">Disponible</span></td>

<td>

<a href="editar.html" class="btn btn-warning btn-sm">
<i class="bi bi-pencil"></i>
</a>

<a href="eliminar.html" class="btn btn-danger btn-sm">
<i class="bi bi-trash"></i>
</a>

</td>

</tr>

</tbody>

</table>

</div>

<script>
document.getElementById("buscador").addEventListener("keyup", function () {
let filtro = this.value.toLowerCase();
let filas = document.querySelectorAll("#tablaInventario tbody tr");

filas.forEach(fila => {
let texto = fila.textContent.toLowerCase();
fila.style.display = texto.includes(filtro) ? "" : "none";
});
});
</script>

</body>
</html>